@page "/KalkV1"
<h1>Kalkulačka</h1>
<h2>Základní matematické operace</h2>
<hr />

<label>Číslo 1: <input @bind ="cislo1" /></label>
<br />
<label>Číslo 2: <input @bind="cislo2" /></label>

<div class="m-3">
    <button class="btn btn-primary" @onclick="Soucet" style="width:130px" >Součet (+)</button>
    <button class="btn btn-secondary" @onclick="Rozdil" style="width:130px" >Rozdíl (-)</button>
    <button class="btn btn-success" @onclick="Soucin" style="width:130px" >Součin (*)</button>
    <button class="btn btn-warning" @onclick="Podil" style="width:130px" >Podíl (/)</button>
</div>

<div>
    <label>Výsledek <input @bind="vysledek" readonly /></label>
</div>


@code {
    double cislo1;
    double cislo2;
    double vysledek;

    private void Soucet()    //u metody vždy velké písmeno
    {
        vysledek = cislo1 + cislo2;    
    } 

    private void Rozdil()    //u metody vždy velké písmeno
    {
        vysledek = cislo1 - cislo2;
    }

    private void Soucin()    //u metody vždy velké písmeno
    {
        vysledek = cislo1 * cislo2;
    }

    private void Podil()    //u metody vždy velké písmeno
    {
        vysledek = cislo1 / cislo2;
    }
}
